<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express-Gallery</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  <title></title>
</head>
<body>
  <div class="header_container">
      <div class ="header_left">_ARCHITEKT
      </div>
      <div class="header_right">
        The project is a winter cabin to be built in a highly restricted area in the mountain landscape of Ai in Norway. The cabin is designed as a landscape element that leads wind and snow around and over the building. One of the client's initial wishes was to be able to actually go skiing, sledge riding and picnicking on top of the cabin.



        The cabin is to be erected during late summer 2012.


        Copyright www.fantasticnorway.no
        </div>

  </div>
  <div class="container">
    {{{body}}}
  </div>
  <br>
  <br>
  <br>
</body>
</html>