
<form action="/gallery/{{photos.id}}?_method=PUT" method="POST">


  AUTHOR: <br>
  <input type="text" value="{{photos.author}}" name ="author"><br><br>
  LINK: <br>
  <input type="text" value="{{photos.link}}" name ="link"> <br><br>
  DESCRIPTION: <br>
  <input type="text" value="{{photos.description}}" name ="description"><br>
  <button>
    <input type="submit" value="Complete Edit">
  </button>
</form>