  {{#each photos}}
  <div><a href='/gallery/{{id}}'><img class="imageBox" src="{{link}}" alt=""></a>

  <div class="author">Author : {{author}}</div>

  <div class="description">Description : {{description}}</div>
  </div>
  {{/each}}