<form action="/gallery/new" method="POST">


  AUTHOR: <br>
  <input type="text" name="author"><br> <br>
  LINK: <br>
  <input type="text" name ="link"><br><br>
  DESCRIPTION: <br>
  <input type="text"  name ="description"><br><br>
  <input type="submit" value="Add new">

</form>